# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/

.venv
.vscode
translator/tests/fixtures/docs/.translation-cache/
translator/tests/fixtures/docs/de_DE/
translator/tests/fixtures/docs/en_US/
translator/tests/fixtures/docs/es_ES/
translator/tests/fixtures/docs/it_IT/
translator/tests/fixtures/docs/pt_PT/
